// This file must be imported before loading html5-boilerplate

// base
$base-font-family: unquote("sans-serif");
$base-font-size: 13px;
$base-line-height: 1.231;
$font-color: #222;

// Links
$link-color: #00e;
$link-visited-color: #551a8b;
$link-hover-color: #06e;

// Lists
$list-left-margin: 40px;

$selected-background-color: #f00;
$selected-font-color: #fff;