@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

    article, aside, details, figcaption, figure, footer, header,
    hgroup, menu, nav, section { display: block; }
    
    body {
        font: 14px "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
        color: #033;
        padding-top: 15px;
    }
    
    #main {
        width:980px;
        text-align:left;
        margin-left:auto;
        margin-right:auto;
        background-color:#FFFFFF;
    }
    #cursos {
        width: 260px;
    }
    h1 {
        margin: 0 0 20px;
    }
    header {
        border: 1px solid #033;
        padding: 30px;
        background: transparent url(/favicon.png) no-repeat right center;
        height: 80px;
    }
    #social {
        margin-top: 10px;
        float: right;
    }
    .fb-like {
        top: -2px;
    }
    footer {
        font-size: 10px;
        border-top: 1px solid #033;
        margin-top: 50px;
        padding: 10px 20px;
    }
    #bixos {
        padding: 0 20px;
    }

    .aviso {
        text-align: center;
    }