/* line 20, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 24, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 30, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 34, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
[hidden] {
  display: none;
}

/* line 51, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 58, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 64, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 76, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
::-moz-selection {
  background: red;
  color: white;
  text-shadow: none;
}

/* line 82, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
::selection {
  background: red;
  color: white;
  text-shadow: none;
}

/* line 96, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
a {
  color: #0000ee;
}

/* line 100, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
a:visited {
  color: #551a8b;
}

/* line 104, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
a:hover {
  color: #0066ee;
}

/* line 108, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 113, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 123, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 129, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 135, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 141, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 146, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 157, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 165, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 175, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 184, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 192, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
q {
  quotes: none;
}

/* line 196, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 203, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
small {
  font-size: 85%;
}

/* line 210, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 217, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 221, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 232, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 237, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 239, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 254, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 264, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 271, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
figure {
  margin: 0;
}

/* line 278, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
form {
  margin: 0;
}

/* line 280, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 283, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
label {
  cursor: pointer;
}

/* line 288, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 294, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 304, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 311, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
table button, table input {
  *overflow: auto;
}

/* line 316, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 323, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 326, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 332, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 338, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 346, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 354, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 363, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 367, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_normalize.scss */
td {
  vertical-align: top;
}

/* line 7, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
}

/* line 18, ../sass/partials/_page.scss */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

/* line 20, ../sass/partials/_page.scss */
body {
  font: 14px "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  color: #033;
  padding-top: 15px;
}

/* line 26, ../sass/partials/_page.scss */
#main {
  width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

/* line 33, ../sass/partials/_page.scss */
#cursos {
  width: 260px;
}

/* line 36, ../sass/partials/_page.scss */
h1 {
  margin: 0 0 20px;
}

/* line 39, ../sass/partials/_page.scss */
header {
  border: 1px solid #003333;
  padding: 30px;
  background: transparent url(/favicon.png) no-repeat right center;
  height: 80px;
}

/* line 45, ../sass/partials/_page.scss */
#social {
  margin-top: 10px;
  float: right;
}

/* line 49, ../sass/partials/_page.scss */
.fb-like {
  top: -2px;
}

/* line 52, ../sass/partials/_page.scss */
footer {
  font-size: 10px;
  border-top: 1px solid #003333;
  margin-top: 50px;
  padding: 10px 20px;
}

/* line 58, ../sass/partials/_page.scss */
#bixos {
  padding: 0 20px;
}

/* line 6, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}
/* line 23, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_helpers.scss */
.ir br {
  display: none;
}

/* line 7, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 8, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 57, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 9, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 10, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 74, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 78, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 17, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 18, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 19, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 20, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 21, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 22, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 23, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 24, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 25, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 27, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 28, ../../../../../../Users/Leonel/Apps/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
