* {
  margin:0;
  padding:0;
  border:0;
}

.clear {
  clear:both;
}

.right {
  float:right;
}

.left {
  float:left;
}

body {
  font: 62.5%/1.5 "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  background: url(/images/background.png) repeat;
  color: #033;
}

#main {
  width:980px;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  background-color:#FFFFFF;
}

h1 {
  font-size:2.2em;
}

h2 {
  font-size:2em;
}

h3 {
  font-size:1.8em;
}

h4 {
  font-size:1.6em;
}

h5 {
  font-size:1.4em;
}

p,q,cite {
  font-size:1.2em;
}

ul,ol,dl {
  list-style:none;
  font-size:1.2em;
}

li,dd,dt {
  font-size:1.2em;
}

input.text {
  padding:3px;
  border:1px solid #999999;
}

table {
  border-spacing:0;
  border-collapse:collapse;
}

td {
  text-align:left;
  font-weight:normal;
}